httpx==0.23.3
scikit-learn
matplotlib
seaborn
numpy==1.24.4
plotly
openpyxl>=3.0.0
pydantic
requests
openai
pillow
pandas
streamlit
pytz
mediapipe==0.10.30
opencv-python-headless==4.8.0.74
protobuf==3.20.3
pytz
